name: Create Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'deployment_infra/**'
      - '.github/workflows/deployment_infra.yml'

jobs:
  create_infrastructure:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.1.7

    - name: Init Terraform
      working-directory: ./deployment_infra
      run: terraform init -backend-config="access_key=${{ secrets.WC_TF_AWS_ACCESS_KEY }}" -backend-config="secret_key=${{ secrets.WC_TF_AWS_SECRET_KEY }}"

    - name: Apply Terraform
      id: tf_apply  
      working-directory: ./deployment_infra
      run: | 
        terraform apply -no-color -auto-approve \
        -var="aws_access_key=${{ secrets.WC_TF_AWS_ACCESS_KEY }}" \
        -var="aws_secret_key=${{ secrets.WC_TF_AWS_SECRET_KEY }}" \
        -var="password=${{ secrets.WC_SSH_PASSWORD }}"

  configure_vm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: AWS SSM Send-Command
        uses: peterkimzz/aws-ssm-send-command@master
        id: ssm
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.WC_TF_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.WC_TF_AWS_SECRET_KEY }}
          instance-ids: i-082ebce781304ad4f

          working-directory: /home/
          command: ls -al
          comment: Hello world!

      # Catch SSM outputs
      - name: Get the outputs
        run: echo "The Command id is ${{ steps.ssm.outputs.command-id }}"
