name: Create Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'deployment_infra/**'
      - '.github/workflows/deployment_infra.yml'

jobs:
  create_infrastructure:
    runs-on: ubuntu-latest
    steps:

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.1.7

    - name: Init Terraform
      working-directory: ./deployment_infra
      run: terraform init -backend-config="access_key=${{ secrets.WC_TF_AWS_ACCESS_KEY }}" -backend-config="secret_key=${{ secrets.WC_TF_AWS_SECRET_KEY }}"

    - name: Apply Terraform
      id: tf_apply  
      working-directory: ./deployment_infra
      run: terraform apply -no-color -auto-approve -var="aws_access_key=${{ secrets.WC_TF_AWS_ACCESS_KEY }}" -var="aws_secret_key=${{ secrets.WC_TF_AWS_SECRET_KEY }}" 

    - run: echo ${{ steps.tf_apply.outputs.stdout }}
    - run: echo ${{ steps.tf_apply.outputs.stderr }}
    - run: echo ${{ steps.tf_apply.outputs.exitcode }}
